.footer {
  background-color: var(--color-primary);
  padding-top: 5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 3rem;
  margin-bottom: 3rem;
}

.footer-logo {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--color-bg-light);
}

.footer-desc {
  color: var(--color-bg-light);
  margin-bottom: 1.5rem;
}

.social-links {
  display: flex;
  gap: 1rem;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-bg-light);
  color: var(--color-text-main);
  transition: all 0.3s ease;
}

.social-icon:hover {
  background-color: var(--color-primary);
  color: white;
  transform: translateY(-3px);
}

.footer h3 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  color: rgb(255, 251, 0);
}

.footer-links ul,
.contact-info {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-links a {
  color: var(--color-bg-light);
}

.footer-links a:hover {
  color: var(--color-text-muted);
  padding-left: 5px;
}

.contact-info li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  color: var(--color-bg-light);
}

.flex-shrink-0 {
  flex-shrink: 0;
  margin-top: 2px;
}

.footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1.5rem 0;
  text-align: center;
  color: var(--color-bg-light);
  font-size: 0.9rem;
}

@media (max-width: 992px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}